<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1091699490347-g1drsp3nvg25tie3oce3kbol6dbn0itp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091699490347-g1drsp3nvg25tie3oce3kbol6dbn0itp</string>
	<key>API_KEY</key>
	<string>AIzaSyBkcsn5t4N14Vtg0motjwn8UgotrGldl6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1091699490347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haarismuneer.Spit</string>
	<key>PROJECT_ID</key>
	<string>spit-f0559</string>
	<key>STORAGE_BUCKET</key>
	<string>spit-f0559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091699490347:ios:37e09f2d4a43dc32</string>
	<key>DATABASE_URL</key>
	<string>https://spit-f0559.firebaseio.com</string>
</dict>
</plist>